@import "./materialize.min.css";

/* require('./css/materialize.min.css'); */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

div.card-image.col {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.nudgeLeft {
  right: 75px !important;
}

/* .chip > i,
.action {
  float: left;
  margin: 3px -8px 0px -7px;
  height: 32px;
  width: 32px;
} */
.chip > i,
.action {
  float: left;
  margin: 7px -16px 0px -4px;
  height: 32px;
  width: 32px;
}
@media only screen and (min-width: 1100px) {
  .carousel .carousel-item {
    max-height: 54vh;
    height: 480px;
    width: 330px;
    max-width: 48vw;
    /* max-height: 30vh; */
  }

  .carousel {
    height: 500px;
    max-height: 48vh;
    min-height: 500px;
  }
}
@media only screen and (max-width: 1099px) {
  .carousel .carousel-item {
    max-height: 54vh;
    /* height: 480px; */
    /* width: 330px; */
    max-width: 48vw;
  }

  .carousel {
    /* height: 500px; */
    max-height: 48vh;
    min-height: 390px;
  }
}
